.navbar {
    position: absolute;
    width: 1440px;
    height: 109px;
    left: 0px;
    top: 0px;

    background: #FFFEFE;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.btn-add {
    position: absolute;
    width: 190px;
    height: 70px;
    left: 1120px;
    top: 19px;

    background: #F3AC13;
    border-radius: 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;

    color: #FFEFEF;
}

.navbar-brand {
    position: absolute;
    width: 555px;
    height: 65px;
    left: 160px;
    top: 34px;

    font-weight: 600;
    font-size: 30px;
    line-height: 41px;

    color: #000000;
}

.imgheader {
    position: absolute;
    width: 100px;
    height: 53px;
    left: 50px;
    top: 24px;
}

.color{
    color:#000000;
}

.table {
    margin-top: 180px;
}



.delete {
    width: 25px;
    height: 25px;
}

.edit {
    margin-left: 15px;
    width: 25px;
    height: 25px;
}